.service_item {
    padding: 1rem;
    border-radius: 16px;
    border-bottom: 1px solid #faa83586;
    border-right: 1px solid #faa83586;
    box-shadow: 0 10px 25px #faa83586;
    transition: all 0.3s ease;
  }
  
  .service_item:hover {
    transform: translateY(-8px);
  }
  
  .service_img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .service_img img{
    width: 100%;
  }
  
  .service_item p{
    font-size: 0.93rem;
    color: var(--text-color);

  }