.loginImg{
    width: 60%;
    text-align: center;
}
.loginImg img{
    width: 70%;
    object-fit: contain;
}

.login_form{
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}

.login_form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--heading-color);

}

.login_container{
    box-shadow: rgba(17,12,46, 0.15) 0px 48px 100px 0px;
}

.login_form .user{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, 9%);
}
.login_form .user img{
    width: 100%;
    height: 100%;
}
.login_form h2{
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 2rem;
}

.auth_btn{
    width: 100%;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login_form p{
    margin-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.login_form p a{
    font-weight: 500;
    color: var(--heading-color);
    margin-left: 5px;
}