.tour_content img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

.tour-info, .tour_review{
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}

.tour-info h2{
    font-size: 1.5rem;
}

.tour-info span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
}

.tour-info span i{
    color: var(--heading-color);
    font-size: 1.1rem;
}

.tour_extraDetails{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.tour-info h5{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.tour-info p{
    line-height: 30px;
    font-size: 1rem;
}

.tour_review h4{
    margin-bottom: 3rem;
}

.review_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}

.review_input input{
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    outline: none;
}

.review_item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}
.review_item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.user_reviews{
    margin-top: 2.5rem;
}

.review_item h5{
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
.review_item p{
    font-size: 0.9rem;
    color: var(--text-color);
}
